<p>The gallery demos individual Streamlined features</p>

<ul>
  <li><%= link_to 'link_to_toggler', :action=>'link_to_toggler'%></li>
  <li><%= link_to 'Streamlined.Autocompleter', :action=>'streamlined_autocompleter'%></li>
</ul>
