<h1>Streamlined Autocompleter</h1>

<p>Concept in progress -- don't use this!</p>

<form>
  <select id="do_me">
    <option value="1">Acura</option>
    <option value="2">BMW</option>
    <option value="3">Corolla</option>
  </select>
  <input type="submit"/>
</form>

<script type="text/javascript">
var sac = new Streamlined.Autocompleter("do_me");
</script>